@media (min-width: 768px) {
  body {
    //gird 布局
    display: grid;
    grid-template:
      "nav nav nav" 10vh
      ". header ." 10vh
      ". content ." 1fr
      ". footer ." 10vh
      / 15vw 1fr 15vw;
    gap: 2em;
    grid-auto-flow: row;
    justify-items: center;
    align-items: center;
    // justify-content:
    // align-content:

    //分配
    nav {
      grid-area: nav;
    }
    header {
      grid-area: header;
    }
    main {
      grid-area: content;
    }
    footer {
      grid-area: footer;
    }
  }

  #static-item {
    li {
      padding: 0.1em;
      background-color: wheat;
      list-style-type: none;
    }
    a {
      color: black;
      &:link {
        text-decoration: none;
      }
      &:hover {
        color: red;
      }
    }

    figure {
      figcaption {
        margin-bottom: 1em;
      }
      img {
        width: 50%;
        height: auto;
      }
    }
  }
}

@media (max-width: 767px) {
  body {
    font-size: 0.8em;
    display: grid;
    grid-template-columns: 80vw;
    grid-template-rows: repeat(5vh, 1fr, 5vh);
    // grid-template-area:
    gap: 2em 0;
    grid-auto-flow: row;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
  }
  #static-item {
    ol {
      padding: 0;
    }
    li {
      padding: 0.1em;
      background-color: wheat;
      list-style-type: none;
    }
    a {
      color: black;
      // &:link {
        // text-decoration: none;
      // }
      &:hover {
        color: red;
      }
    }

    figure {
      figcaption {
        margin-bottom: 1em;
      }
      img {
        width: 80%;
        height: auto;
      }
    }
  }
}
