@use "config.scss" as c;
@use "nav.scss";
@use "main.scss";

html,
body {
  background-color: c.$theme-color--back;
  color: c.$theme-color--font;
  box-sizing: border-box;
  // position: relative;
}

header {
  max-width: 70vw;
  margin: 5em auto 2em;
}

footer {
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00000016;
}
//建议日后和JS一起使用
// .go-to-top {
//   // position: absolute;
//   position: sticky;
//   display: flex;
//   justify-content: flex-end;

//   top: calc(100vh - 4rem);
//   img {
//     max-width: 4rem;
//   }
// }
